/* ADD BACKGROUND IMAGE */
body{
    background-image: url(/src/images/descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    

    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BODY */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.9rem;
}
/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
}

/* Hover */
.btn:hover {
    background-color: darkgreen;
}