/* ADD BACKGROUND IMAGE */
body{
    background-image: url(/src/images/descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #fff;
}
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
}
/* BODY */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1.8rem, 4vw, 2.9rem);
    margin: 0.6rem 1.2rem;
}
p{
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 1.6;
}
/* BUTTON */
.btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: darkcyan;
    color: white;
    border-radius: 0.3rem;
    margin: 1.2rem;
}
/* Hover */
.btn:hover {
    background-color: darkgreen;
}
/* SECTION */
section{
    max-width: 56rem;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
}
/* RESPONSIVE IMAGES */
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.2rem auto;
    border-radius: 0.5rem;
}
/* FINAL SECTION */
.final-section{
    background: rgba(0,0,0,0.5);
    padding: 1.5rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(0.4rem);
    text-align: center;
    margin-top: 2.5rem;
}
.final-section p{
  max-width: 50rem;
  margin: 0 auto;
}
/* CONTAINER */
.about-container{
    max-width: 56rem;
    margin: auto;
    padding: 1.2rem;
}

/* BLOCKS */
.about-block{
    background: rgba(0,0,0,0.5);
    padding: 1.5rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(0.4rem);
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* TEXT */
.text{
    flex: 1;
    color: black;
}
/* TABLET */
@media (max-width: 768px){

    .about-block{
        flex-direction: column; 
        text-align: center;
    }
    header{
        align-items: center;
    }
}
/* MOBILE */
@media (max-width: 425px){

    h1{
        font-size: 1.5rem;
        text-align: center;
    }

    p{
        font-size: 0.95rem;
    }
}