/* ADD GIF */
.gif{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}
/* ADD VIDEOPLAYBLACK */
.black-white {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100; /* Asegura que esté detrás del contenido */
    object-fit: cover; /* Ajusta el video para cubrir el área */
}